/*
 * COLOUR SCHEME 
 * Danube - #7BA5D3 (med blue)
 * Cello - #203859 (dark blue)
 * Link Water - #CEE1F5 (light blue)
 * San Juan - #3A5572 (steel blue)
 */

body {
	background-color: #3A5572;
	font-family: 'Poppins', sans-serif;
	font-size: 20pt;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

img {
	width: 200px;
}
 
#title {
	width: 100%;
	text-align: center;
	font-size: 44pt;
	color: white;
	font-weight: bold;
}

#quote {
	width: 100%;
	text-align: center;
	color: #203859;
	font-size: 24pt;
  transform: translate(0%,-25%);
}

.container {
	width: 100%;
	height: 90vh;
}

#logo {
	position: fixed;
	bottom: 12.5%;
	left: 15px;
	width: 12.5%;
	max-width: 200px;
	min-width: 100px;
}

#contact {
	position: fixed;
	bottom: 12.5%;
	right: 15px;
	color: white;
	text-align: right;
}

#phone, a {
	color: #203859;
}

.video-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 90%; 
  overflow: hidden;
  z-index: -1;
}

.video-container img {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 100vw;
  height: 90vh;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-48%,-50%);
  object-fit: cover;
}

.footer {
	position: fixed;
	font-size: 8pt;
	text-align: center; 
	padding: 0;
	margin: 0;
	background-color: #3A5572;
	display: flex;
  align-items: center;
  overflow-wrap: break-word;
  text-align: center;
  z-index: 2;
}

#footer-text {
  color: #CEE1F5;
  width: 100%;
}

/* Mobile */
@media only screen and (max-width: 500px) {
  #title {
  	font-size: 24pt;
  }

  #quote {
  	font-size: 16pt;
  }

  #logo {
  	position: absolute;
  	top: 15%;
  	left: 75%;
  }

  #contact {
  	font-size: 18pt;
  	bottom: 15%;
  }

  .video-container

 	.footer {
  	display: block;
		overflow: auto;
		position: absolute;
		font-size: 6.5pt;
		height: 100%;
		width: 99%;
		max-height: 100px;
		bottom: 0;
  }
}

 /*Desktop*/
@media only screen and (min-width:500px) {
	.footer {
		position: fixed;
		font-size: 8pt;
		text-align: center; 
		width: 100%;
		height: 10vh;
		background-color: #3A5572;
		display: flex;
	  align-items: center;
	}
}