/*
 * COLOUR SCHEME 
 * Danube - #7BA5D3 (med blue)
 * Cello - #203859 (dark blue)
 * Link Water - #CEE1F5 (light blue)
 * San Juan - #3A5572 (steel blue)
 */

body {
	background-color: #3A5572;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
	background-image: url("img/run_small.gif");
	background-position-x: center;
	background-position-y: bottom; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#heading {
	color: white;
	font-weight: bold;
}

#subheading {
	color: #203859;
	transform: translate(0, -15%);
}

#logo {
	width: 12.5%;
	max-width: 200px;
	min-width: 100px;
}

#contact {
	color: white;
	text-align: right;
	position: fixed;
	bottom: 12%;
	right: 15px;
	width: 100%;
}

#email a, #phone {
	color: #203859;
}

#footer {
	background-color: #3A5572;
	color: #CEE1F5;
	text-align: center;
	width: 100%;
	padding: 7.5px;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	word-break: normal;
	min-height: 8%;
	max-height: 10%;
	overflow-wrap: break-word;
	display: flex;
	align-items: center;
	width: 100%;
}

#footer-content {
	width: 100%;
}

/* Mobile */
@media only screen and (max-width: 500px) {
	#heading { font-size: 24pt; }
	#subheading { font-size: 15pt; }
	#contact { font-size: 12pt; }
	#footer { font-size: 7pt; }

	#logo {
		position: absolute;
		top: 15%;
		right: 5%;
	}
}

 /* Desktop */
@media only screen and (min-width:499px) {
	#heading { font-size: 44pt; }
	#subheading { font-size: 24pt; }
	#contact { font-size: 18pt; }
	#footer { font-size: 8pt; }

	#logo {
		position: fixed;
		bottom: 12%;
		left: 15px;
	}
}